MSSQL_SA_PASSWORD=ChangeThis_StrongPassword123!
POSTGRES_PASSWORD=change-ticket-password
MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_PASSWORD=change-user-password
MONGO_ROOT_PASSWORD=change-mongo-password
RABBITMQ_PASSWORD=change-rabbit-password
GRAFANA_ADMIN_PASSWORD=change-grafana-password
